@charset "UTF-8";
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
	 # General elements
	 # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
	 # Forms
	 # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
	 # Specify media element style
	 # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
	 # Accessibility
	 # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

/* ===============================================
画面サイズ
=============================================== */
/* ========================================
# 色
======================================== */
/* ========================================
# フォントサイズ、フォント
======================================== */
/* ===============================================
# メディアクエリ一覧
=============================================== */
/* ======================================================
# タイトルの装飾
======================================================= */
/* ========================================
# インプットタグの装飾
======================================== */
/* ========================================
# アイコンの付与
======================================== */
/* ===============================================
# 文字
=============================================== */
body {
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
}

p {
  font-size: 1rem;
  letter-spacing: -0.09em;
  line-height: 2;
  font-weight: normal;
  color: #333333;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
}

h1 {
  font-size: 4.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.21;
  font-weight: bold;
  color: #ffffff;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.08em;
  font-weight: bold;
  color: #333333;
}
@media screen and (max-width: 599px) {
  h2 {
    font-size: 2.28rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
}

h4 {
  font-size: 1.25rem;
  color: #333333;
}

h5 {
  font-size: 1rem;
  color: #333333;
}

h6 {
  font-size: 0.8rem;
  color: #333333;
}

a {
  font-size: 1rem;
  line-height: 1.8;
  text-decoration: none;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover {
  opacity: 0.8;
}
@media (hover: none) {
  a {
    /* hoverが使えないタッチ端末を想定した装飾を記載（&:active使用する） */
  }
  a:active {
    opacity: 0.8;
  }
}

/* ========================================
# リストスタイル
======================================== */
li {
  list-style: none;
}

/* ========================================
# bodyタグ、htmlタグ
======================================== */
html {
  font-size: 16px;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 599px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
}
body.no-scroll {
  overflow-y: hidden;
}

/* ===============================================
# 画像スタイル
=============================================== */
img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ===============================================
# ヘッダー
=============================================== */
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.l-header_container {
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.l-header_logo {
  width: 260px;
  height: 28.2px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 4%;
}
@media screen and (max-width: 1024px) {
  .l-header_logo {
    width: 189px;
    height: 20.6px;
  }
}
@media screen and (max-width: 1024px) {
  .l-header_logo {
    margin-left: 4%;
    margin-top: 3.5%;
  }
}
.l-header_logo.scrollColor {
  -webkit-filter: brightness(0.17);
          filter: brightness(0.17);
}
.l-header_btn {
  display: block;
  position: absolute;
  z-index: 300;
  right: 7%;
  top: 26%;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 1024px) {
  .l-header_btn {
    right: 13.5%;
  }
}
@media screen and (max-width: 599px) {
  .l-header_btn {
    right: 5%;
  }
}
.l-header_btn::after {
  content: "MENU";
  color: #ffffff;
  height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 31%;
  -webkit-transform: translateX(57%);
          transform: translateX(57%);
}
@media screen and (max-width: 599px) {
  .l-header_btn::after {
    display: none;
  }
}
.l-header_btn.scrollColor span {
  background-color: #333;
}
.l-header_btn.scrollColor::after {
  color: #333;
}
.l-header_nav-bg {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  visibility: hidden;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  overflow-y: scroll;
  color: #fff;
  background-color: rgba(34, 34, 34, 0.6);
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.l-header_nav-bg.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  visibility: visible;
}
.l-header_nav-list {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  visibility: hidden;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  color: #fff;
  background-color: rgba(34, 34, 34, 0.95);
  text-align: center;
  width: 30%;
  height: 100%;
  padding-top: 10%;
}
.l-header_nav-list.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  visibility: visible;
}
@media screen and (max-width: 1024px) {
  .l-header_nav-list {
    width: 50%;
  }
}
.l-header_nav-logo {
  width: 42.1px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
}
.l-header_nav-item {
  margin-top: 5%;
}

/* ===============================================
#フッター
=============================================== */
.l-footer {
  background-color: #525252;
}
.l-footer_container {
  max-width: calc(1100px + 2rem);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  text-align: center;
}
.l-footer_text {
  color: #fff;
}

/* ======================================================
# ドロワーボタン
======================================================= */
.c-drawer_btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: #ffffff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.c-drawer_btn span:nth-child(1) {
  top: 10px;
}
.c-drawer_btn span:nth-child(1).active {
  top: 16px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.c-drawer_btn span:nth-child(2) {
  top: 20px;
}
.c-drawer_btn span:nth-child(2).active {
  top: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.c-drawer_btn span:nth-child(3) {
  top: 30px;
}
.c-drawer_btn span:nth-child(3).active {
  top: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-more_btn {
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: -0.06em;
  color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 48px 6px 41px;
  background-color: #000;
  display: block;
}

/* ====================================================
# スクロールアイコン
======================================================= */
.c-scroll-down {
  position: absolute;
  left: 10%;
  /*矢印の動き1秒かけて永遠にループ*/
  -webkit-animation: arrowmove 2s ease-in-out infinite;
          animation: arrowmove 2s ease-in-out infinite;
}
.c-scroll-down span {
  /*テキストの形状*/
  color: #eee;
  letter-spacing: 0.05em;
  /*縦書き*/
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
@-webkit-keyframes arrowmove {
  0% {
    bottom: 50%;
  }
  50% {
    bottom: 55%;
  }
  100% {
    bottom: 50%;
  }
}
@keyframes arrowmove {
  0% {
    bottom: 50%;
  }
  50% {
    bottom: 55%;
  }
  100% {
    bottom: 50%;
  }
}
.c-scroll-down::before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: -75px;
  right: 7px;
  width: 3px;
  height: 17px;
  background: #eee;
  -webkit-transform: skewX(-31deg);
          transform: skewX(-31deg);
}
.c-scroll-down::after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: -75px;
  right: 12px;
  width: 3px;
  height: 68px;
  background: #eee;
}

/* ====================================================
# ロード画面
======================================================= */
/* ======================================================
# HOME(index.html)
======================================================= */
.p-home {
  /* ======================================================
  # メインビュー
  ======================================================= */
  /* ======================================================
  # ABOUT US
  ======================================================= */
  /* ======================================================
  # WORKS & CULTURE
  ======================================================= */
  /* ======================================================
  # TOPICS
  ======================================================= */
  /* ======================================================
  # CONTACT
  ======================================================= */
}
.p-home-mv_bg {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: -10;
}
.p-home-mv_image {
  width: 76.4%;
  height: 86.6%;
  background-image: url(../images/home-mv.jpg);
  background-position: center;
  background-size: cover;
  z-index: -20;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .p-home-mv_image {
    width: 78%;
  }
}
.p-home-mv_image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.34);
}
.p-home-mv_shadow {
  width: 54%;
  height: 100vh;
  background-color: #222;
  position: absolute;
  right: 0;
  z-index: -30;
}
@media screen and (max-width: 1024px) {
  .p-home-mv_shadow {
    width: 73%;
  }
}
.p-home-mv_container {
  max-width: calc(1100px + 2rem);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  position: relative;
}
.p-home-mv_textbox {
  position: absolute;
  right: 3.6%;
  top: 43.5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .p-home-mv_textbox {
    right: 9.2%;
    top: 43.8%;
  }
}
@media screen and (max-width: 599px) {
  .p-home-mv_textbox {
    right: 3.8%;
    top: 43%;
  }
}
.p-home-mv_subtitle {
  color: #ffffff;
  font-weight: bold;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  line-height: 1.2;
  font-size: 1.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 1024px) {
  .p-home-mv_subtitle {
    font-size: 1rem;
  }
}
@media screen and (max-width: 599px) {
  .p-home-mv_subtitle {
    font-size: 1.2rem;
  }
}
.p-home-mv_subtitle span {
  display: block;
}
.p-home-mv_title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 3.2%;
}
@media screen and (max-width: 1024px) {
  .p-home-mv_title {
    line-height: 0.9;
    font-size: 3.5rem;
    letter-spacing: 0.1em;
  }
}
@media screen and (max-width: 599px) {
  .p-home-mv_title {
    font-size: 4rem;
  }
}
.p-home-mv_title span {
  display: block;
}
.p-home-about {
  position: relative;
  top: 6.25rem;
}
@media screen and (max-width: 1024px) {
  .p-home-about {
    position: inherit;
    margin-top: 5rem;
  }
}
.p-home-about_container {
  max-width: calc(1100px + 2rem);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5%;
}
@media screen and (max-width: 1024px) {
  .p-home-about_container {
    padding: 0;
  }
}
.p-home-about_inner {
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: url(../images/home-about-bg.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 1024px) {
  .p-home-about_inner {
    padding-top: 8%;
    padding-bottom: 8%;
  }
}
@media screen and (max-width: 599px) {
  .p-home-about_inner {
    padding-top: 13%;
    padding-bottom: 13%;
  }
}
.p-home-about_textbox {
  width: 53.7%;
  background-color: rgba(255, 255, 255, 0.95);
  padding-top: 4.5%;
  padding-bottom: 4.5%;
  padding-left: 2.8%;
  padding-right: 2.8%;
  margin-left: 4.6%;
}
@media screen and (max-width: 1024px) {
  .p-home-about_textbox {
    width: 76.8%;
    padding-top: 4.5%;
    padding-bottom: 4.5%;
    padding-left: 2.8%;
    padding-right: 2.8%;
  }
}
@media screen and (max-width: 599px) {
  .p-home-about_textbox {
    width: 92%;
    padding-top: 13.5%;
    padding-bottom: 13.5%;
    padding-left: 7.8%;
    padding-right: 7.8%;
  }
}
@media screen and (max-width: 1024px) {
  .p-home-about_textbox {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 1024px) {
  .p-home-about_title {
    letter-spacing: 0.06em;
  }
}
.p-home-about_text {
  margin-top: 5%;
}
.p-home-about_text span {
  display: block;
}
@media screen and (max-width: 1024px) {
  .p-home-about_text {
    margin-top: 5%;
  }
}
@media screen and (max-width: 599px) {
  .p-home-about_text {
    margin-top: 8%;
  }
}
.p-home-about_btn {
  margin-top: 11.5%;
}
@media screen and (max-width: 1024px) {
  .p-home-about_btn {
    margin-top: 9.5%;
  }
}
@media screen and (max-width: 599px) {
  .p-home-about_btn {
    margin-top: 27.5%;
  }
}
.p-home-info {
  background-color: #f0f0f0;
}
.p-home-info_container {
  max-width: calc(1100px + 2rem);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12.5%;
  padding-bottom: 4.2%;
}
@media screen and (max-width: 1024px) {
  .p-home-info_container {
    padding-top: 0;
    padding-left: 3.8%;
    padding-right: 3.8%;
    padding-bottom: 4.8%;
  }
}
@media screen and (max-width: 599px) {
  .p-home-info_container {
    padding-bottom: 10.8%;
  }
}
.p-home-info_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.8%;
}
@media screen and (max-width: 1024px) {
  .p-home-info_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}
@media screen and (max-width: 1024px) {
  .p-home-info_item {
    padding-top: 8.5%;
  }
}
@media screen and (max-width: 599px) {
  .p-home-info_item {
    padding-top: 11%;
  }
}
@media screen and (max-width: 1024px) {
  .p-home-info_item:nth-of-type(n + 2) {
    padding-top: 11.8%;
  }
}
.p-home-info_image {
  height: 350px;
  margin-top: 6%;
}
@media screen and (max-width: 1024px) {
  .p-home-info_image {
    width: 73.5%;
  }
}
@media screen and (max-width: 599px) {
  .p-home-info_image {
    width: 100%;
    height: 230px;
  }
}
@media screen and (max-width: 1024px) {
  .p-home-info_image {
    margin-top: 9%;
  }
}
.p-home-info_text {
  margin-top: 5%;
}
@media screen and (max-width: 1024px) {
  .p-home-info_text {
    margin-top: 3.5%;
  }
}
@media screen and (max-width: 599px) {
  .p-home-info_text {
    margin-top: 7.5%;
  }
}
.p-home-info_btn {
  margin-top: 3%;
}
@media screen and (max-width: 599px) {
  .p-home-info_btn {
    margin-top: 7%;
  }
}
.p-home-news_container {
  max-width: calc(1100px + 2rem);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4.2%;
  padding-bottom: 4.2%;
}
@media screen and (max-width: 1024px) {
  .p-home-news_container {
    padding-top: 5.8%;
    padding-left: 3.8%;
    padding-right: 3.8%;
    padding-bottom: 5.8%;
  }
}
@media screen and (max-width: 599px) {
  .p-home-news_container {
    padding-top: 10.8%;
  }
}
.p-home-news_list {
  width: 63.63%;
  margin-left: auto;
  margin-top: 2.7%;
}
@media screen and (max-width: 599px) {
  .p-home-news_list {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .p-home-news_list {
    margin-top: 4%;
    margin-left: 0;
    margin-right: auto;
  }
}
@media screen and (max-width: 599px) {
  .p-home-news_list {
    margin-top: 8%;
  }
}
.p-home-news_date {
  font-size: 0.625rem;
  color: #cecece;
  font-weight: bold;
}
.p-home-news_date:nth-of-type(n + 2) {
  margin-top: 4.6%;
}
@media screen and (max-width: 1024px) {
  .p-home-news_date:nth-of-type(n + 2) {
    margin-top: 6.2%;
  }
}
.p-home-news_text {
  font-size: 0.875rem;
  font-weight: bold;
  color: #333;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  letter-spacing: -0.09em;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  border-bottom: solid 1px #ddd;
  margin-top: 1.3%;
  padding-bottom: 0.6%;
}
@media screen and (max-width: 1024px) {
  .p-home-news_text {
    margin-top: 2%;
    padding-bottom: 2%;
  }
}
@media screen and (max-width: 599px) {
  .p-home-news_text {
    margin-top: 3%;
    padding-bottom: 8%;
  }
}
.p-home-news_btn {
  margin-top: 5.2%;
  margin-left: auto;
}
@media screen and (max-width: 1024px) {
  .p-home-news_btn {
    margin-left: 0;
    margin-top: 7%;
  }
}
.p-home-contact {
  background-color: #f0f0f0;
}
.p-home-contact_container {
  max-width: calc(1100px + 2rem);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4.2%;
  padding-bottom: 10%;
}
@media screen and (max-width: 1024px) {
  .p-home-contact_container {
    padding-left: 3.8%;
    padding-right: 3.8%;
    padding-top: 5%;
  }
}
.p-home-contact_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7.2%;
}
@media screen and (max-width: 1024px) {
  .p-home-contact_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.p-home-contact_textbox {
  width: 40%;
}
@media screen and (max-width: 1024px) {
  .p-home-contact_textbox {
    width: 70%;
  }
}
@media screen and (max-width: 599px) {
  .p-home-contact_textbox {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .p-home-contact_textbox {
    margin-top: 5%;
  }
}
.p-home-contact_text {
  margin-top: 6%;
}
.p-home-contact_text span {
  display: block;
}
.p-home-contact_btn {
  margin-top: 11%;
}
.p-home-contact_image {
  width: 52.7%;
}
@media screen and (max-width: 1024px) {
  .p-home-contact_image {
    width: 73%;
  }
}
@media screen and (max-width: 599px) {
  .p-home-contact_image {
    width: 100%;
  }
}

.p-about {
  /* ======================================================
  # メインビュー
  ======================================================= */
  /* ======================================================
  # VISION
  ======================================================= */
  /* ======================================================
  # CEO MESSAGE
  ======================================================= */
  /* ======================================================
  # COMPANY
  ======================================================= */
}
.p-about-mv_bg {
  width: 100%;
  height: 52vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: -10;
}
@media screen and (max-width: 1024px) {
  .p-about-mv_bg {
    height: 52.5vh;
  }
}
@media screen and (max-width: 599px) {
  .p-about-mv_bg {
    height: 73.1vh;
  }
}
.p-about-mv_image {
  width: 76.2%;
  height: 100%;
  background-image: url(../images/about-mv.png);
  background-position: center;
  background-size: cover;
  z-index: -20;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .p-about-mv_image {
    width: 76.4%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-mv_image {
    width: 75.4%;
  }
}
.p-about-mv_image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.34);
}
.p-about-mv_shadow {
  width: 54%;
  height: 62.7vh;
  background-color: #222;
  position: absolute;
  right: 0;
  z-index: -30;
}
@media screen and (max-width: 1024px) {
  .p-about-mv_shadow {
    height: 60.7vh;
    width: 53%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-mv_shadow {
    height: 84.8vh;
  }
}
.p-about-mv_container {
  max-width: calc(1100px + 2rem);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  height: 62.7vh;
  position: relative;
}
@media screen and (max-width: 599px) {
  .p-about-mv {
    height: 100vh;
  }
}
.p-about-mv_textbox {
  position: absolute;
  right: 1%;
  top: 45.5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (max-width: 1024px) {
  .p-about-mv_textbox {
    right: 12.8%;
    top: 41%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-mv_textbox {
    right: 8.8%;
    top: 57.5%;
  }
}
.p-about-mv_subtitle {
  color: #ffffff;
  font-weight: bold;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  line-height: 1.8;
  font-size: 1.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 1024px) {
  .p-about-mv_subtitle {
    font-size: 1rem;
  }
}
@media screen and (max-width: 599px) {
  .p-about-mv_subtitle {
    font-size: 1.2rem;
  }
}
.p-about-mv_subtitle span {
  display: block;
}
.p-about-mv_title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 0.3rem;
  margin-top: 3.2%;
}
@media screen and (max-width: 1024px) {
  .p-about-mv_title {
    line-height: 0.9;
    font-size: 3.5rem;
    letter-spacing: 0.01em;
  }
}
@media screen and (max-width: 599px) {
  .p-about-mv_title {
    font-size: 3.7rem;
    letter-spacing: -0.01em;
  }
}
.p-about-mv_title span {
  display: block;
}
.p-about-policy_container {
  max-width: calc(1100px + 2rem);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8.3%;
}
.p-about-policy_textbox {
  width: 28%;
  margin-left: 20.5%;
  margin-right: auto;
}
@media screen and (max-width: 1024px) {
  .p-about-policy_textbox {
    width: 40%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-policy_textbox {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .p-about-policy_textbox {
    margin-left: 17.5%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-policy_textbox {
    margin-left: auto;
  }
}
.p-about-policy_subtitle {
  letter-spacing: -0.14em;
  white-space: nowrap;
  margin-top: 7.5%;
}
@media screen and (max-width: 599px) {
  .p-about-policy_subtitle {
    font-size: 1.714rem;
  }
}
.p-about-policy_text {
  margin-top: 7%;
}
@media screen and (max-width: 1024px) {
  .p-about-policy_text {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 1024px) {
  .p-about-policy_text {
    margin-top: 10%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-policy_text {
    margin-top: 9%;
  }
}
.p-about-policy_text span {
  display: block;
  margin-top: 10.5%;
}
@media screen and (max-width: 1024px) {
  .p-about-policy_text span {
    margin-top: 10%;
  }
}
.p-about-message_container {
  max-width: calc(1100px + 2rem);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 9%;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .p-about-message_container {
    padding-top: 10.5%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-message_container {
    padding-top: 22.5%;
  }
}
.p-about-message_image {
  width: 37.2%;
  position: absolute;
}
@media screen and (max-width: 1024px) {
  .p-about-message_image {
    width: 43.2%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-message_image {
    width: 98%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-message_image {
    position: relative;
    left: -4%;
  }
}
.p-about-message_textbox {
  width: 70%;
  background-color: #f0f0f0;
  padding-top: 11%;
  padding-bottom: 8.5%;
  padding-left: 17%;
  padding-right: 17%;
  margin-top: 13%;
  margin-left: auto;
}
@media screen and (max-width: 1024px) {
  .p-about-message_textbox {
    width: 70%;
    padding: 20.5% 6.5% 12.3% 6.5%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-message_textbox {
    width: 100%;
    padding: 37% 7.8% 55% 8.8%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-message_textbox {
    margin: -29% 0% 0% 0%;
  }
}
.p-about-message_text {
  margin-top: 7%;
}
@media screen and (max-width: 599px) {
  .p-about-message_text {
    margin-top: 10%;
  }
}
.p-about-message_text span {
  display: block;
  margin-top: 8%;
}
@media screen and (max-width: 1024px) {
  .p-about-message_text span {
    margin-top: 5.5%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-message_text span {
    margin-top: 9.5%;
  }
}
.p-about-company_container {
  max-width: calc(1100px + 2rem);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4.2%;
  padding-bottom: 9.2%;
}
@media screen and (max-width: 1024px) {
  .p-about-company_container {
    padding: 11.5% 3.8% 9.2% 3.8%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-company_container {
    padding: 10.8% 3.8% 9.2% 3.8%;
  }
}
.p-about-company_title {
  border-bottom: solid 1px #ddd;
  padding-bottom: 2.5%;
}
@media screen and (max-width: 1024px) {
  .p-about-company_title {
    padding-bottom: 4%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-company_title {
    padding-bottom: 8%;
  }
}
.p-about-company_list {
  width: 72.63%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-top: 1.6%;
}
@media screen and (max-width: 1024px) {
  .p-about-company_list {
    width: 95%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-company_list {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .p-about-company_list {
    margin-top: 0;
    margin-left: 5%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-company_list {
    margin-left: 0;
  }
}
.p-about-company_term {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  letter-spacing: 0.06em;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  border-bottom: solid 1px #ddd;
  width: 18%;
  padding-bottom: 2%;
}
@media screen and (max-width: 1024px) {
  .p-about-company_term {
    padding-bottom: 2.7%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-company_term {
    width: 30%;
  }
}
@media screen and (max-width: 1024px) {
  .p-about-company_term {
    margin-top: 2.8%;
  }
}
.p-about-company_term:nth-of-type(n + 2) {
  margin-top: 1.8%;
}
.p-about-company_desc {
  font-size: 1rem;
  font-weight: normal;
  color: #333;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  letter-spacing: 0.06em;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  border-bottom: solid 1px #ddd;
  width: 82%;
  padding-bottom: 2%;
}
@media screen and (max-width: 1024px) {
  .p-about-company_desc {
    padding-bottom: 2.7%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-company_desc {
    width: 70%;
  }
}
.p-about-company_desc:nth-of-type(n + 2) {
  margin-top: 1.8%;
}
@media screen and (max-width: 1024px) {
  .p-about-company_desc {
    margin-top: 2.8%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-company_desc {
    margin-top: 3%;
    padding-bottom: 8%;
  }
}
.p-about-company_google-map {
  height: 0;
  overflow: hidden;
  padding-bottom: 32.7%;
  position: relative;
  margin-top: 3%;
}
@media screen and (max-width: 1024px) {
  .p-about-company_google-map {
    margin-top: 6%;
  }
}
@media screen and (max-width: 599px) {
  .p-about-company_google-map {
    padding-bottom: 100%;
  }
}
.p-about-company_googlemap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.p-works {
  /* ======================================================
  # メインビュー
  ======================================================= */
  /* ======================================================
  # PORTFOLIO
  ======================================================= */
}
.p-works-mv_bg {
  width: 100%;
  height: 52vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: -10;
}
@media screen and (max-width: 1024px) {
  .p-works-mv_bg {
    height: 52.5vh;
  }
}
@media screen and (max-width: 599px) {
  .p-works-mv_bg {
    height: 73.1vh;
  }
}
.p-works-mv_image {
  width: 76.2%;
  height: 100%;
  background-image: url(../images/works-mv.jpg);
  background-position: center;
  background-size: cover;
  z-index: -20;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .p-works-mv_image {
    width: 76.4%;
  }
}
@media screen and (max-width: 599px) {
  .p-works-mv_image {
    width: 75.4%;
  }
}
.p-works-mv_image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.34);
}
.p-works-mv_shadow {
  width: 54%;
  height: 62.7vh;
  background-color: #222;
  position: absolute;
  right: 0;
  z-index: -30;
}
@media screen and (max-width: 1024px) {
  .p-works-mv_shadow {
    height: 60.7vh;
    width: 53%;
  }
}
@media screen and (max-width: 599px) {
  .p-works-mv_shadow {
    height: 84.8vh;
  }
}
.p-works-mv_container {
  max-width: calc(1100px + 2rem);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  height: 62.7vh;
  position: relative;
}
@media screen and (max-width: 599px) {
  .p-works-mv {
    height: 100vh;
  }
}
.p-works-mv_textbox {
  position: absolute;
  right: 1%;
  top: 45.5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (max-width: 1024px) {
  .p-works-mv_textbox {
    right: 12.8%;
    top: 41%;
  }
}
@media screen and (max-width: 599px) {
  .p-works-mv_textbox {
    right: 8.8%;
    top: 57.5%;
  }
}
.p-works-mv_subtitle {
  color: #ffffff;
  font-weight: bold;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  line-height: 1.8;
  font-size: 1.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 1024px) {
  .p-works-mv_subtitle {
    font-size: 1rem;
  }
}
@media screen and (max-width: 599px) {
  .p-works-mv_subtitle {
    font-size: 1.2rem;
  }
}
.p-works-mv_subtitle span {
  display: block;
}
.p-works-mv_title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 0.3rem;
  margin-top: 3.2%;
}
@media screen and (max-width: 1024px) {
  .p-works-mv_title {
    line-height: 0.9;
    font-size: 3.5rem;
    letter-spacing: 0.01em;
  }
}
@media screen and (max-width: 599px) {
  .p-works-mv_title {
    font-size: 3.7rem;
    letter-spacing: -0.01em;
  }
}
.p-works-mv_title span {
  display: block;
}
.p-works-portfolio_container {
  max-width: calc(1100px + 2rem);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8.3%;
}
.p-works-portfolio_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.p-works-portfolio_item {
  padding: 5% 5% 5% 5%;
  width: 50%;
}
@media screen and (max-width: 599px) {
  .p-works-portfolio_item {
    width: 100%;
  }
}
.p-works-portfolio_image {
  width: 70%;
}

.p-culture {
  /* ======================================================
  # メインビュー
  ======================================================= */
  /* ======================================================
  # PORTFOLIO
  ======================================================= */
}
.p-culture-mv_bg {
  width: 100%;
  height: 52vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: -10;
}
@media screen and (max-width: 1024px) {
  .p-culture-mv_bg {
    height: 52.5vh;
  }
}
@media screen and (max-width: 599px) {
  .p-culture-mv_bg {
    height: 73.1vh;
  }
}
.p-culture-mv_image {
  width: 76.2%;
  height: 100%;
  background-image: url(../images/culture-mv.jpg);
  background-position: center;
  background-size: cover;
  z-index: -20;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .p-culture-mv_image {
    width: 76.4%;
  }
}
@media screen and (max-width: 599px) {
  .p-culture-mv_image {
    width: 75.4%;
  }
}
.p-culture-mv_image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.34);
}
.p-culture-mv_shadow {
  width: 54%;
  height: 62.7vh;
  background-color: #222;
  position: absolute;
  right: 0;
  z-index: -30;
}
@media screen and (max-width: 1024px) {
  .p-culture-mv_shadow {
    height: 60.7vh;
    width: 53%;
  }
}
@media screen and (max-width: 599px) {
  .p-culture-mv_shadow {
    height: 84.8vh;
  }
}
.p-culture-mv_container {
  max-width: calc(1100px + 2rem);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  height: 62.7vh;
  position: relative;
}
@media screen and (max-width: 599px) {
  .p-culture-mv {
    height: 100vh;
  }
}
.p-culture-mv_textbox {
  position: absolute;
  right: 1%;
  top: 45.5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (max-width: 1024px) {
  .p-culture-mv_textbox {
    right: 12.8%;
    top: 41%;
  }
}
@media screen and (max-width: 599px) {
  .p-culture-mv_textbox {
    right: 8.8%;
    top: 57.5%;
  }
}
.p-culture-mv_subtitle {
  color: #ffffff;
  font-weight: bold;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  line-height: 1.8;
  font-size: 1.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 1024px) {
  .p-culture-mv_subtitle {
    font-size: 1rem;
  }
}
@media screen and (max-width: 599px) {
  .p-culture-mv_subtitle {
    font-size: 1.2rem;
  }
}
.p-culture-mv_subtitle span {
  display: block;
}
.p-culture-mv_title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 0.3rem;
  margin-top: 3.2%;
}
@media screen and (max-width: 1024px) {
  .p-culture-mv_title {
    line-height: 0.9;
    font-size: 3.5rem;
    letter-spacing: 0.01em;
  }
}
@media screen and (max-width: 599px) {
  .p-culture-mv_title {
    font-size: 3.7rem;
    letter-spacing: -0.01em;
  }
}
.p-culture-mv_title span {
  display: block;
}
.p-culture-portfolio_container {
  max-width: calc(1100px + 2rem);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8.3%;
}
.p-culture-portfolio_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.p-culture-portfolio_item {
  padding: 5% 5% 5% 5%;
  width: 50%;
}
@media screen and (max-width: 599px) {
  .p-culture-portfolio_item {
    width: 100%;
  }
}
.p-culture-portfolio_image {
  width: 70%;
}

.p-topics {
  /* ======================================================
  # メインビュー
  ======================================================= */
  /* ======================================================
  # PORTFOLIO
  ======================================================= */
}
.p-topics-mv_bg {
  width: 100%;
  height: 52vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: -10;
}
@media screen and (max-width: 1024px) {
  .p-topics-mv_bg {
    height: 52.5vh;
  }
}
@media screen and (max-width: 599px) {
  .p-topics-mv_bg {
    height: 73.1vh;
  }
}
.p-topics-mv_image {
  width: 76.2%;
  height: 100%;
  background-image: url(../images/topics-mv.jpg);
  background-position: center;
  background-size: cover;
  z-index: -20;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .p-topics-mv_image {
    width: 76.4%;
  }
}
@media screen and (max-width: 599px) {
  .p-topics-mv_image {
    width: 75.4%;
  }
}
.p-topics-mv_image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.34);
}
.p-topics-mv_shadow {
  width: 54%;
  height: 62.7vh;
  background-color: #222;
  position: absolute;
  right: 0;
  z-index: -30;
}
@media screen and (max-width: 1024px) {
  .p-topics-mv_shadow {
    height: 60.7vh;
    width: 53%;
  }
}
@media screen and (max-width: 599px) {
  .p-topics-mv_shadow {
    height: 84.8vh;
  }
}
.p-topics-mv_container {
  max-width: calc(1100px + 2rem);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  height: 62.7vh;
  position: relative;
}
@media screen and (max-width: 599px) {
  .p-topics-mv {
    height: 100vh;
  }
}
.p-topics-mv_textbox {
  position: absolute;
  right: 1%;
  top: 45.5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (max-width: 1024px) {
  .p-topics-mv_textbox {
    right: 12.8%;
    top: 41%;
  }
}
@media screen and (max-width: 599px) {
  .p-topics-mv_textbox {
    right: 8.8%;
    top: 57.5%;
  }
}
.p-topics-mv_subtitle {
  color: #ffffff;
  font-weight: bold;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  line-height: 1.8;
  font-size: 1.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 1024px) {
  .p-topics-mv_subtitle {
    font-size: 1rem;
  }
}
@media screen and (max-width: 599px) {
  .p-topics-mv_subtitle {
    font-size: 1.2rem;
  }
}
.p-topics-mv_subtitle span {
  display: block;
}
.p-topics-mv_title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 0.3rem;
  margin-top: 3.2%;
}
@media screen and (max-width: 1024px) {
  .p-topics-mv_title {
    line-height: 0.9;
    font-size: 3.5rem;
    letter-spacing: 0.01em;
  }
}
@media screen and (max-width: 599px) {
  .p-topics-mv_title {
    font-size: 3.7rem;
    letter-spacing: -0.01em;
  }
}
.p-topics-mv_title span {
  display: block;
}
.p-topics-portfolio_container {
  max-width: calc(1100px + 2rem);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8.3%;
}
.p-topics-portfolio_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.p-topics-portfolio_item {
  padding: 5% 5% 5% 5%;
  width: 50%;
}
@media screen and (max-width: 599px) {
  .p-topics-portfolio_item {
    width: 100%;
  }
}
.p-topics-portfolio_image {
  width: 70%;
}

/* ======================================================
# inputタグオートコンプリート時の色の変化をなくす
======================================================= */
/* box-shadow:水平方向の距離 垂直方向の距離 ぼかし距離 広がり距離 影の色 inset;*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
          box-shadow: 0 0 0px 1000px #ffffff inset;
}

.p-contact {
  /* ======================================================
  # メインビュー
  ======================================================= */
  /* ======================================================
  # FORM
  ======================================================= */
}
.p-contact-mv_bg {
  width: 100%;
  height: 52vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: -10;
}
@media screen and (max-width: 1024px) {
  .p-contact-mv_bg {
    height: 52.5vh;
  }
}
@media screen and (max-width: 599px) {
  .p-contact-mv_bg {
    height: 73.1vh;
  }
}
.p-contact-mv_image {
  width: 76.2%;
  height: 100%;
  background-image: url(../images/contact-mv.png);
  background-position: center;
  background-size: cover;
  z-index: -20;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .p-contact-mv_image {
    width: 76.4%;
  }
}
@media screen and (max-width: 599px) {
  .p-contact-mv_image {
    width: 75.4%;
  }
}
.p-contact-mv_image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.34);
}
.p-contact-mv_shadow {
  width: 54%;
  height: 62.7vh;
  background-color: #222;
  position: absolute;
  right: 0;
  z-index: -30;
}
@media screen and (max-width: 1024px) {
  .p-contact-mv_shadow {
    height: 60.7vh;
    width: 53%;
  }
}
@media screen and (max-width: 599px) {
  .p-contact-mv_shadow {
    height: 84.8vh;
  }
}
.p-contact-mv_container {
  max-width: calc(1100px + 2rem);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  height: 62.7vh;
  position: relative;
}
@media screen and (max-width: 599px) {
  .p-contact-mv {
    height: 100vh;
  }
}
.p-contact-mv_textbox {
  position: absolute;
  right: 1%;
  top: 45.5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (max-width: 1024px) {
  .p-contact-mv_textbox {
    right: 12.8%;
    top: 41%;
  }
}
@media screen and (max-width: 599px) {
  .p-contact-mv_textbox {
    right: 8.8%;
    top: 57.5%;
  }
}
.p-contact-mv_subtitle {
  color: #ffffff;
  font-weight: bold;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  line-height: 1.8;
  font-size: 1.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 1024px) {
  .p-contact-mv_subtitle {
    font-size: 1rem;
  }
}
@media screen and (max-width: 599px) {
  .p-contact-mv_subtitle {
    font-size: 1.2rem;
  }
}
.p-contact-mv_subtitle span {
  display: block;
}
.p-contact-mv_title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 0.3rem;
  margin-top: 3.2%;
}
@media screen and (max-width: 1024px) {
  .p-contact-mv_title {
    line-height: 0.9;
    font-size: 3.5rem;
    letter-spacing: 0.01em;
  }
}
@media screen and (max-width: 599px) {
  .p-contact-mv_title {
    font-size: 3.7rem;
    letter-spacing: -0.01em;
  }
}
.p-contact-mv_title span {
  display: block;
}
.p-contact-form {
  /* ======================================================
  # ラジオボタン
  ======================================================= */
  /* ======================================================
  # 会社名・団体名
  ======================================================= */
  /* ======================================================
  # お名前
  ======================================================= */
  /* ======================================================
  # email
  ======================================================= */
  /* ======================================================
  # tel
  ======================================================= */
  /* ======================================================
      # お問い合わせ内容
  ======================================================= */
  /* ======================================================
  # PRIVACY POLICY
  ======================================================= */
  /* ======================================================
  # 個人情報の取り扱いについて同意のうえ送信します。
  ======================================================= */
  /* ======================================================
  # 送信ボタン
  ======================================================= */
}
.p-contact-form_container {
  max-width: calc(1100px + 2rem);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
  max-width: calc(700px + 2rem);
  margin-top: 8.3%;
  margin-bottom: 8.3%;
}
.p-contact-form_radio {
  margin-top: 5%;
}
.p-contact-form_radio-text::after {
  content: "必須";
  font-size: 0.75rem;
  padding: 0.5% 0.85% 0.5% 0.5%;
  color: #ffffff;
  background-color: #333;
  position: relative;
  left: 3%;
  top: -0.1875rem;
  letter-spacing: normal;
}
.p-contact-form_radio-list {
  font-family: "Noto Sans JP";
  margin-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7%;
}
.p-contact-form_group {
  margin-top: 5%;
}
.p-contact-form_group input {
  border: solid 1px #333;
  background-color: #fff;
  height: 40px;
  width: 100%;
  margin-top: 1%;
}
.p-contact-form_name {
  margin-top: 5%;
}
.p-contact-form_name-label::after {
  content: "必須";
  font-size: 0.75rem;
  padding: 0.5% 0.85% 0.5% 0.5%;
  color: #ffffff;
  background-color: #333;
  position: relative;
  left: 3%;
  top: -0.1875rem;
  letter-spacing: normal;
}
.p-contact-form_name input {
  border: solid 1px #333;
  background-color: #fff;
  height: 40px;
  width: 100%;
  margin-top: 1%;
}
.p-contact-form_email {
  margin-top: 5%;
}
.p-contact-form_email-label::after {
  content: "必須";
  font-size: 0.75rem;
  padding: 0.5% 0.85% 0.5% 0.5%;
  color: #ffffff;
  background-color: #333;
  position: relative;
  left: 3%;
  top: -0.1875rem;
  letter-spacing: normal;
}
.p-contact-form_email input {
  border: solid 1px #333;
  background-color: #fff;
  height: 40px;
  width: 100%;
  margin-top: 1%;
}
.p-contact-form_tel {
  margin-top: 5%;
}
.p-contact-form_tel input {
  border: solid 1px #333;
  background-color: #fff;
  height: 40px;
  width: 100%;
  margin-top: 1%;
}
.p-contact-form_textarea {
  margin-top: 5%;
}
.p-contact-form_textarea-label::after {
  content: "必須";
  font-size: 0.75rem;
  padding: 0.5% 0.85% 0.5% 0.5%;
  color: #ffffff;
  background-color: #333;
  position: relative;
  left: 3%;
  top: -0.1875rem;
  letter-spacing: normal;
}
.p-contact-form_textarea textarea {
  border: solid 1px #333;
  background-color: #fff;
  height: 40px;
  width: 100%;
  margin-top: 1%;
  height: 212px;
}
.p-contact-form_privacy {
  margin-top: 5%;
}
.p-contact-form_privacy-label {
  font-weight: bold;
}
.p-contact-form_privacy-textbox {
  width: 100%;
  height: 252px;
  padding: 1%;
  border: solid 1px #333;
  overflow-y: scroll;
}
.p-contact-form_privacy-text span {
  display: block;
  margin-top: 5%;
}
.p-contact-form_checkbox {
  margin-top: 5%;
  text-align: center;
}
.p-contact-form_submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 66px 9px;
  background-color: #000;
  color: #ffffff;
  margin-top: 5%;
}
.p-contact-form_submit._disabled {
  opacity: 0.4;
}
.p-contact-form_message {
  margin-top: 5%;
  display: none;
  padding: 8px 66px 9px;
  background-color: #000;
  color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=style.css.map */