@use "../variables/variables";

/* ========================================
# アイコンの付与
======================================== */

// 「必須」の注意書き
@mixin attention {
  &::after {
    content: "必須";
    font-size: 0.75rem;
    padding: 0.5% 0.85% 0.5% 0.5%;
    color: #ffffff;
    background-color: #333;
    position: relative;
    left: 3%;
    top: -0.1875rem;
    letter-spacing: normal;
  }
}
