@use "../variables/variables";

/* ========================================
# アイコンの付与
======================================== */

// カテゴリーのdashicon
@mixin icon-category {
  content: "\f318";
  font-family: "dashicons";
  color: variables.$basecolor;
  font-size: variables.$f2;
  line-height: 1;
}
// 前の記事へ、のアイコン
@mixin icon-prev {
  content: "\f141";
  font-family: "dashicons";
  color: variables.$basecolor;
  font-size: variables.$f2;
  line-height: 1;
}
// 次の記事へ、のアイコン
@mixin icon-next {
  content: "\f139";
  font-family: "dashicons";
  color: variables.$basecolor;
  font-size: variables.$f2;
  line-height: 1;
}

