@use "../variables/variables";

/* ========================================
# インプットタグの装飾
======================================== */
@mixin input {
  ////////////  デザイン  ////////////
  border: solid 1px #333;
  background-color: #fff;
  height: 40px;
  width: 100%;
  ////////  配置  ////////
  margin-top: 1%;
}
