@use "../../variables/variables";
@use "../../mixin/mixin";

/* ======================================================
# ドロワーボタン
======================================================= */
.c-drawer_btn {
  span {
    // 配置
    display: block;
    position: absolute;
    // デザイン
    width: 30px;
    height: 2px;
    left: 6px;
    background: #ffffff;
    transition: 0.3s ease-in-out;
    // 各バーの距離を調整
    &:nth-child(1) {
      top: 10px;
      &.active {
        top: 16px;
        left: 6px;
        transform: rotate(-45deg);
      }
    }
    &:nth-child(2) {
      top: 20px;
      &.active {
        top: 16px;
        transform: rotate(45deg);
      }
    }
    &:nth-child(3) {
      top: 30px;
      &.active {
        top: 16px;
        transform: rotate(45deg);
      }
    }
  }
}

.c-more_btn{
  ////  デザイン  ////
  color: #ffffff;
  width: fit-content;
  padding: 9px 48px 11px 41px;
  background-color: #000;
  display: block;
}
