@use "../variables/variables";
@use"media";


@mixin btn-touch {
  display: block;
  color: #ffffff;
  @include media.touch{
    &:active{
      opacity: 0.8;
    }
  }
}

@mixin btn-category{
  padding: 3px 10px;
  border: solid 1px currentColor;
  border-radius: 10px;
  color:variables.$basecolor;
  font-size: variables.$f6;
}