/* ===============================================
画面サイズ
=============================================== */
// モバイル
$mobile: 599px;
// タブレット
$pad: 1024px;
// ノートPC
$pc: 1212px;
// 最大幅
$max-width: 1980px;

/* ========================================
# 色
======================================== */
$color:#000000;// 基本色
$basecolor:#63a211;//テーマ

// グラデーション
$gradient:linear-gradient(79.7deg,rgba(34,.126,34,1)8.2%,rgba(99,162,17,1)84.98%);

/* ========================================
# フォントサイズ、フォント
======================================== */
$f1:2.44rem;// 39.04px
$f2:1.95rem;// 31.2px
$f3:1.56rem;// 24.96px
$f4:1.25rem;// 20px
$f5:1rem;// 16px
$f6:0.8rem;// 12.8px

$myfont: 'Josefin Sans', sans-serif;// font




