
</main>
<footer>
  <p><small><%= jsonData.siteInfo.name ;%></small></p>
</footer>
<%# script読み込み ;%>
<script src="./js/jquery-3.6.0.min.js"></script>
<script src="./js/main.js"></script>

</body>

</html>