</main>
<footer class="l-footer">
  <div class="l-footer_container">
    <small class="l-footer_text">©2018 DIGSMILE INC.
    </small>
  </div><!-- /.l-footer_container -->
</footer>
<%# script読み込み ;%>
<script src="./js/jquery-3.6.0.min.js"></script>
<script src="./js/main.js"></script>

</body>

</html>