@use "../../variables/variables";
@use "../../mixin/mixin";

/* ======================================================
# inputタグオートコンプリート時の色の変化をなくす
======================================================= */
/* box-shadow:水平方向の距離 垂直方向の距離 ぼかし距離 広がり距離 影の色 inset;*/
input:-webkit-autofill{
	box-shadow: 0 0 0px 1000px #ffffff inset;
}

.p-contact {
  $sec: "p-contact";
  /* ======================================================
# メインビュー
======================================================= */
  &-mv {
    &_bg {
      ////////  デザイン  ////////
      width: 100%;
      height: 52vh;
      @include mixin.pad {
        height: 52.5vh;
      }
      @include mixin.mobile {
        height: 73.1vh;
      }
      ////  配置  ////
      display: flex;
      position: absolute;
      z-index: -10;
    }

    &_image {
      ////////  デザイン  ////////
      width: 76.2%;
      height: 100%;
      background-image: url(../images/contact-mv.png);
      background-position: center;
      background-size: cover;
      // レスポンシブ →→
      @include mixin.pad {
        width: 76.4%;
      }
      @include mixin.mobile {
        width: 75.4%;
      }
      //薄く影をつける
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.34);
      }
      ////  配置  ////
      z-index: -20;
      position: relative;
    }

    &_shadow {
      ////////  デザイン  ////////
      width: 54%;
      height: 62.7vh;
      background-color: #222;
      // レスポンシブ →→
      @include mixin.pad {
        height: 60.7vh;
        width: 53%;
      }
      @include mixin.mobile {
        height: 84.8vh;
      }
      ////  配置  ////
      position: absolute;
      right: 0;
      z-index: -30;
    }

    &_container {
      ////////  デザイン  ////////
      @include mixin.container;
      height: 62.7vh;
      ////  配置  ////
      position: relative;
    }
    @include mixin.mobile {
      height: 100vh;
    }

    &_textbox {
      ////  配置  ////
      position: absolute;
      right: 1%;
      top: 45.5%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column-reverse;
      // レスポンシブ →→
      @include mixin.pad {
        right: 12.8%;
        top: 41%;
      }
      @include mixin.mobile {
        right: 8.8%;
        top: 57.5%;
      }
    }

    &_subtitle {
      ////////  デザイン  ////////
      color: #ffffff;
      font-weight: bold;
      font-family: variables.$myfont;
      line-height: 1.8;
      font-size: 1.25rem;
      // レスポンシブ →→
      @include mixin.pad {
        font-size: 1rem;
      }
      @include mixin.mobile {
        font-size: 1.2rem;
      }
      ////  配置  ////
      width: fit-content;
      span {
        display: block;
      }
    }

    &_title {
      ////////  デザイン  ////////
      width: fit-content;
      letter-spacing: 0.3rem;
      // レスポンシブ →→
      @include mixin.pad {
        line-height: 0.9;
        font-size: 3.5rem;
        letter-spacing: 0.01em;
      }
      @include mixin.mobile {
        font-size: 3.7rem;
        letter-spacing: -0.01em;
      }
      span {
        display: block;
      }
      ////  配置  ////
      margin-top: 3.2%;
    }
  }
  /* ======================================================
# FORM
======================================================= */
  &-form {
    &_container {
      ////////  デザイン  ////////
      @include mixin.container;
      color: #333333;
      max-width: calc(700px + 2rem);
      ////  配置  ////
      margin-top: 8.3%;
      margin-bottom: 8.3%;
    }
    /* ======================================================
# ラジオボタン
======================================================= */
    &_radio {
      ////////  配置  ////////
      margin-top: 5%;
      &-text {
        ////////////  デザイン  ////////////
        @include mixin.attention;
      }
      &-list {
        ////////////  デザイン  ////////////
        font-family: "Noto Sans JP";
        ////////  配置  ////////
        margin-top: 1%;
        display: flex;
        gap: 7%;
      }
    }
    /* ======================================================
# 会社名・団体名
======================================================= */
    &_group {
      ////////  配置  ////////
      margin-top: 5%;

      input {
        @include mixin.input;
      }
    }
    /* ======================================================
# お名前
======================================================= */
    &_name {
      ////////  配置  ////////
      margin-top: 5%;
      &-label {
        @include mixin.attention;
      }
      input {
        @include mixin.input;
      }
    }
    /* ======================================================
# email
======================================================= */
    &_email {
      ////////  配置  ////////
      margin-top: 5%;
      &-label {
        @include mixin.attention;
      }
      input {
        @include mixin.input;
      }
    }
    /* ======================================================
# tel
======================================================= */
    &_tel {
      ////////  配置  ////////
      margin-top: 5%;
      input {
        @include mixin.input;
      }
    }
    /* ======================================================
    # お問い合わせ内容
======================================================= */
    &_textarea {
      ////////  配置  ////////
      margin-top: 5%;
      &-label {
        @include mixin.attention;
      }
      textarea {
        @include mixin.input;
        height: 212px;
      }
    }
    /* ======================================================
    # PRIVACY POLICY
    ======================================================= */
    &_privacy {
      ////////  配置  ////////
      margin-top: 5%;
      &-label {
        font-weight: bold;
      }
      &-textbox {
        ////////////  デザイン  ////////////
        width: 100%;
        height: 252px;
        padding: 1%;
        border: solid 1px #333;
        overflow-y: scroll;
      }
      &-text {
        span {
          display: block;
          margin-top: 5%;
        }
      }
    }
    /* ======================================================
    # 個人情報の取り扱いについて同意のうえ送信します。
    ======================================================= */
    &_checkbox {
      ////////  配置  ////////
      margin-top: 5%;
      text-align: center;
    }
    /* ======================================================
    # 送信ボタン
    ======================================================= */
    &_submit {
      ////////////  デザイン  ////////////
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 8px 66px 9px;
      background-color: #000;
      color: #ffffff;
      ////////  配置  ////////
      margin-top: 5%;
      &._disabled {
        opacity: 0.4;
      }
    }
    &_message {
      margin-top: 5%;
      display: none;
      padding: 8px 66px 9px;
      background-color: #000;
      color: #ffffff;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
