@use "../../variables/variables";
@use "../../mixin/mixin";

/* ======================================================
# 
======================================================= */

.p-contact {
  $sec: "p-contact";
  /* ======================================================
# メインビュー
======================================================= */
  &-mv {
    &_bg {
      ////////  デザイン  ////////
      width: 100%;
      height: 52vh;
      ////  配置  ////
      display: flex;
      position: absolute;
      z-index: -10;
    }

    &_image {
      ////////  デザイン  ////////
      width: 76.2%;
      height: 100%;
      background-image: url(../images/contact-mv.png);
      background-position: center;
      background-size: cover;
      // レスポンシブ →→
      @include mixin.pad {
        width: 78%;
      }
      //薄く影をつける
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.34);
      }
      ////  配置  ////
      z-index: -20;
      position: relative;
    }

    &_shadow {
      ////////  デザイン  ////////
      width: 54%;
      height: 62.7vh;
      background-color: #222;
      // レスポンシブ →→
      @include mixin.pad {
        width: 73%;
      }
      ////  配置  ////
      position: absolute;
      right: 0;
      z-index: -30;
    }

    &_container {
      ////////  デザイン  ////////
      @include mixin.container;
      height: 62.7vh;
      ////  配置  ////
      position: relative;
    }

    &_textbox {
      ////  配置  ////
      position: absolute;
      right: 1%;
      top: 45.5%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column-reverse;
      // レスポンシブ →→
      @include mixin.pad {
        right: 9.2%;
        top: 43.8%;
      }
      @include mixin.mobile {
        right: 3.8%;
        top: 43%;
      }
    }

    &_subtitle {
      ////////  デザイン  ////////
      color: #ffffff;
      font-weight: bold;
      font-family: variables.$myfont;
      line-height: 1.8;
      font-size: 1.25rem;
      // レスポンシブ →→
      @include mixin.pad {
        font-size: 1rem;
      }
      @include mixin.mobile {
        font-size: 1.2rem;
      }
      ////  配置  ////
      width: fit-content;
      span {
        display: block;
      }
    }

    &_title {
      ////////  デザイン  ////////
      width: fit-content;
      letter-spacing: 0.3rem;
      // レスポンシブ →→
      @include mixin.pad {
        line-height: 0.9;
        font-size: 3.5rem;
        letter-spacing: 0.1em;
      }
      @include mixin.mobile {
        font-size: 4rem;
      }
      span {
        display: block;
      }
      ////  配置  ////
      margin-top: 3.2%;
    }
  }
  /* ======================================================
# VISION
======================================================= */
  &-policy {
    &_container {
      ////////  デザイン  ////////
      @include mixin.container;
      ////  配置  ////
      margin-top: 8.3%;
    }

    &_textbox {
      ////////  デザイン  ////////
      width: 28%;
      margin-left: 20.5%;
      ////  配置  ////
      margin-right: auto;
    }

    &_title {
    }

    &_subtitle {
      ////////  デザイン  ////////
      letter-spacing: -0.14em;
      ////  配置  ////
      margin-top: 7.5%;
    }

    &_text {
      ////  配置  ////
      margin-top: 7%;
      // 文節毎の空白
      span {
        display: block;
        margin-top: 10.5%;
      }
    }
  }
  /* ======================================================
  # CEO MESSAGE
  ======================================================= */
  &-message {
    &_container {
      ////////  デザイン  ////////
      @include mixin.container;
      ////  配置  ////
      padding-top: 9%;
      position: relative;
    }

    &_image {
      width: 37.2%;
      position: absolute;
    }

    &_textbox {
      ////////  デザイン  ////////
      width: 70%;
      background-color: #f0f0f0;
      padding-top: 11%;
      padding-bottom: 8.5%;
      padding-left: 17%;
      padding-right: 17%;
      ////  配置  ////
      margin-top: 13%;
      margin-left: auto;
    }

    &_title {
    }

    &_text {
      ////  配置  ////
      margin-top: 7%;
      & span {
        display: block;
        margin-top: 8%;
      }
    }
  }
  /* ======================================================
  # COMPANY
  ======================================================= */
  &-company {
    &_container {
      ////////  デザイン  ////////
      @include mixin.container;
      padding-top: 4.2%;
      padding-bottom: 9.2%;
      // レスポンシブ →→
      @include mixin.pad {
        padding-top: 5.8%;
        padding-left: 3.8%;
        padding-right: 3.8%;
        padding-bottom: 9.2%;
      }
      @include mixin.mobile {
        padding-top: 10.8%;
      }
    }

    &_title {
      border-bottom:solid 1px #ddd;
      padding-bottom: 2.5%;
    }

    &_list {
      ////////  デザイン  ////////
      width: 72.63%;
      display: flex;
      flex-wrap: wrap;
      // レスポンシブ →→
      @include mixin.mobile {
        width: 100%;
      }
      ////  配置  ////
      margin-left: auto;
      margin-top: 1.6%;
      // レスポンシブ →→
      @include mixin.pad {
        margin-top: 4%;
        margin-left: 0;
        margin-right: auto;
      }
      @include mixin.mobile {
        margin-top: 8%;
      }
    }

    &_term {
      ////////  デザイン  ////////
      font-size: 1rem;
      font-weight: bold;
      color: #333;
      font-family: variables.$myfont;
      letter-spacing: 0.06em;
      font-feature-settings: "palt";
      border-bottom: solid 1px #ddd;
      width: 18%;
      padding-bottom: 2%;
      ////  配置  ////
      &:nth-of-type(n+2){
        margin-top: 1.8%;
      }

    }
    &_desc {
      ////////  デザイン  ////////
      font-size: 1rem;
      font-weight: normal;
      color: #333;
      font-family: variables.$myfont;
      letter-spacing: 0.06em;
      font-feature-settings: "palt";
      border-bottom: solid 1px #ddd;
      width: 82%;
      padding-bottom: 2%;
      ////  配置  ////
      &:nth-of-type(n+2){
        margin-top: 1.8%;
      }
      // レスポンシブ →→
      @include mixin.pad {
        margin-top: 2%;
        padding-bottom: 2%;
      }
      @include mixin.mobile {
        margin-top: 3%;
        padding-bottom: 8%;
      }
    }

    &_google-map {
      ////////  デザイン  ////////
      height: 0;
      overflow: hidden;
      padding-bottom: 32.7%;
      position: relative;
      ////  配置  ////
      margin-top: 3%;
    }
    &_googlemap iframe {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
}
