@use "../variables/variables";
@use "../mixin/mixin";

/* ===============================================
#フッター
=============================================== */
.l-footer {
  $sec: "l-footer";
  background-color: #525252;

  &_container {
    ////  デザイン  ////
    @include mixin.container;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    text-align: center;
  }

  &_text {
    color: #fff;
  }
}
