/* ===============================================
画面サイズ
=============================================== */
// モバイル
$mobile: 599px;
// タブレット
$pad: 1024px;
// ノートPC
$pc: 1212px;
// 最大幅
$max-width: 1440px;

/* ========================================
# 色
======================================== */
$black:#333333;// 黒系色
$white:#ffffff;//白系色

/* ========================================
# フォントサイズ、フォント
======================================== */
$f1:4.5rem;// 72px
$f2:2rem;// 32px
$f3:1.5rem;// 24px
$f4:1.25rem;// 20px
$f5:1rem;// 16px
$f6:0.8rem;// 12.8px


$myfont: 'Montserrat','Noto Sans JP',sans-serif;//他、指定のフォント




